@import '_functions';

// Font-base
$font-base: 16 !default;
$grid-columns: 12;

// Cores
$color-white: #fff;
$color-light: #fafafa;
$color-danger: #ef5350;
$color-yellow: #fdc91b;
$color-gold: #cebf7b;
$color-blue: #404163;
$color-black: #222121;
$color-dark: #4a494a;
$color-dark2: #333333;
$color-dark3: #444444;
$color-gray: #9b9b9b;
$color-gray2: #e8e8e8;
